
{% macro primary(params) %}
  <button
    class="btn primary-btn {{ params.class }}"
    type='{{ params.type ? params.type : "button" }}'
    {{ params.attr | raw }}
  >
    {{ params.inner | raw }}
  </button>
{% endmacro %}


{% macro outlined(params) %}
  <button
    class="btn outlined-btn {{ params.class }}"
    type='{{ params.type ? params.type : "button" }}'
    {{ params.attr | raw }}
  >
    {{ params.inner | raw }}
  </button>
{% endmacro %}

{% macro burger(class) %}
  <button
    class="burger-btn {{ class }}"
    type="button"
    aria-label='Navigation menu button'
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
{% endmacro %}
