{# Primary link (gradient styled button) #}
{#
@params: {
  href: string,
  inner: string,
  class?: string
}
#}
{% macro primary(params) %}
  <a
    class="btn primary-btn {{ params.class }}"
    href='{{ params.href ? params.href : '#' }}'
  >
    {{ params.inner | raw }}
  </a>
{% endmacro %}

{# Nav link #}
{#
@params: {
  inner: string,
  href?: string,
  class?: string
}
#}
{% macro nav(params) %}
  <a
    class="nav-link {{ params.class }}"
    {% if params.href %}href='{{ params.href }}'{% endif %}
  >
    {{ params.inner | raw }}
  </a>
{% endmacro %}
