{#
class?: string,
holder: string,
options: [
  {
    title: string,
    href: string ,
    value: string
  }
]
#}

<div class="dropdown js-dropdown {{ class }}">
  <button
    class="dropdown__trigger js-dropdown-trigger"
    type="button"
    aria-label="{{ devaultValue | striptags }}"
  >
    {{ devaultValue }}
  </button>

  <div class="dropdown__item js-dropdown-item">
    {% for option in options %}
    <ul>
      <li>
        <a
          href="{{ option.href }}">
          {{ option.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>