{#
class?: string,
items: [
  {
    title: string | HTMLElement,
    content: string | HTMLElement
  }
]
#}
{% import 'ui/buttons.twig' as btn %}

<div class='tabs js-tabs {{ class }}'>
  <div class='tabs__head'>
    <div class='tabs__head-row'>
      {% for index, item in items %}
        {% set tabId = index ~ '_' ~ item.title | striptags | lower | replace({' ': '_'}) %}
        <div class='tabs__head-col'>
          {{ btn.primary({
            inner: item.title,
            class: 'tabs__btn js-tab-btn',
            attr: "data-tab-id='" ~ tabId ~ "' aria-label='" ~ (item.title | striptags) ~ "'"
          }) }}
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class='tabs__body'>
    {% for index, item in items %}
      <div
        id='{{ index ~ '_' ~ item.title | striptags | lower | replace({' ': '_'}) }}'
        class="tabs__item js-tabs-item"
      >
        <h3>{{ item.title }}</h3>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div>
